{% extends "base.html" %}

{% block content %}
  <section class="hero">
    <div class="hero-copy">
      {{ section.content | safe }}
    </div>
  </section>

  {% set articles = get_section(path="articles/_index.md") %}
  {% set music = get_section(path="music/_index.md") %}
  {% set books = get_section(path="books/_index.md") %}
  {% set movies = get_section(path="movies/_index.md") %}
  {% set combined_posts = articles.pages
    | concat(with=music.pages)
    | concat(with=books.pages)
    | concat(with=movies.pages)
    | sort(attribute="date")
    | reverse
  %}
  {% if combined_posts | length > 0 %}
    <section>
      <h2>Latest Articles</h2>
      <ul>
        {% for page in combined_posts | slice(end=3) %}
          <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}
